menuconfig RADIO_CTRL
    bool "Custom Radio controller drivers"
    help
    Enable YourCo radio controller drivers (SX1262-based, etc).

if RADIO_CTRL
    config RADIO_CTRL_SX1262
        bool "DA SX1262 radio driver"
        depends on SPI && EVENTS
        default y if DT_HAS_YOURCO_SX1262_RADIO_ENABLED
        help
        Enable driver for SX1262-based radio using your custom API.
    config RADIO_CTRL_LOG_LEVEL
        int "Radio controller driver log level"
        default 3
        help
        Set the log level for the radio controller driver (0-4).
    config RADIO_CTRL_INIT_PRIORITY
        int "Radio controller driver init priority"
        default 90
        help
        Set the initialization priority for the radio controller driver.
endif # RADIO_CTRL
